@tailwind base;
@tailwind components;

@layer {
   @font-face {
      font-family: 'ZwoDrei';
      src: local('ZwoDrei'), url(fonts/ZwoDrei.woff) format('woff');
   }
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

:root {
   --storm-dark: theme('colors.storm-dark');
   --storm-darkblue: theme('colors.storm-darkblue');
   --storm-blue: theme('colors.storm-blue');
   --storm-purple: theme('colors.storm-purple');
   --storm-red: theme('colors.storm-red');
   --storm-red-hover: theme('colors.storm-red-hover');
   --storm-grad-left: theme('colors.storm-grad-left');
   --storm-grad-right: theme('colors.storm-grad-right');
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
   display: none;
}

img{
   -webkit-user-drag: none;
}

@tailwind utilities;
